[submodule "thecoffee"]
	path = thecoffee
	url = git@git.vauxoo.com:vauxoo/thecoffee.git
	branch = 16.0
[submodule "sh-tools"]
	path = sh-tools
	url = git@git.vauxoo.com:vauxoo/sh-tools.git
	branch = 16.0
